:root{
    --clr-neon: hsl(203, 90%, 74%);
}
body {
    font-family: 'Libre Bodoni', serif;
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
}

/* .container
{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
} */
.catering {
    padding: 0.5rem;
    text-align: center;
    background-color: hsl(195, 53%, 79%);

    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.icons_list {

    display: flex;
    gap: 1rem;
    padding: 0.5rem 6rem 0.5rem 6rem;

}
.icons_list > *{
    /* wyśrdokowanie diva */
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1; 
}
.left_list {
    justify-content: flex-start;
    gap: 0.3rem;
}
.right_list {
    justify-content: flex-end;
}

#logo img{
    max-height: 7rem;
    max-width: 7rem;
}

.nav_list {
    /* typowe dla listy */
    display: flex;
    flex-wrap: wrap;
    /* gap: SUPER, bo daje nam odległości dla felxa */
    gap: 4rem;
    /* Czy można to wycentrować inaczej? */
    justify-content: center;
    
    margin: 0;
    padding: 0 0 0.5rem 0;
    list-style: none;
       
}
/* ta gwizdka to selektor dla wszystkich dzieci nav_list */
.nav_list > * {

   /* właściwości flexa dla jego dzieci, niezalecane do nawigacji akurat */
   /* flex-grow: 1;
   flex-basis: 1; */
}

.nav_list li a {
    
    color: initial;
    text-decoration: none;
    font-size: 0.8rem;
    /* Ależ to jest przydatna opcja! */
    font-weight:lighter; 
    font-family: 'Montserrat', sans-serif;
  
}

.welcome {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;

    padding: 5rem 25rem 5rem 9rem;
    background-image: url('../img/background_1.jpg');
    background-color: blanchedalmond;
    background-size: cover; 
    background-repeat: no-repeat;
}

.welcome h1 {
    font-size: 4rem;
    font-weight: 700;
}

.lighter_letter {
    line-height: 300%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
.button
{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    background-color: white;
    /* border: var(--clr-neon) 0.125em solid; */

    margin-left: 4em;
    padding: 1em 2em;
    border-radius: 1.1em;

    text-shadow: ;
}
.cakes
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;   
}
.cake{
    flex: 1rem;
    max-height: 20rem;
    max-width: 20rem;
}

footer {
    padding: 1rem 0 1rem 0;
    background-color: hsl(203, 92%, 75%);
    border-radius: 2rem;
}