@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Montserrat:wght@200;400;700&display=swap');

:root {
    --text: rgba(3, 3, 3, 0.6);
    --text-secondary: rgb(247, 245, 255);
    --text-shadow: rgba(255, 255, 255, 0.5);
    --background-site: rgba(247, 247, 247, 0.5);
    --background-catering: rgb(173, 216, 230);
    --background-image: rgb(255, 235, 204);
    --background-cakes: rgb(245, 245, 245);
    --background-birthday: rgba(255, 143, 102, 0.5);
    --background-footer: rgb(133, 205, 250);
    --clr-neon: rgb(20, 165, 255);
    --padding-div: 5rem 2rem;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Libre Bodoni', serif; */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: var(--background-cakes);
    color: var(--text);
}
   

h1,
h2 {
    font-family: 'Libre Bodoni', serif;
    font-size: 4rem;
    font-weight: 700;
}

aside {
    font-size: 0.8rem;
}

aside .info-stripe {
    width: 12rem;
    display: inline-flex;
    overflow: hidden;
    background-color: var(--background-cakes);
    scroll-behavior: smooth;
}

aside .info-stripe p {
    text-wrap: nowrap;
    padding: 0 2rem;
}

aside .catering-stripe {
    /* width: 100%; */
    padding: 0.5rem;
    background-color: var(--background-catering);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

nav {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
    /* JS i tło dopasowane do przechodzenia w poszczególne sekcje strony, ale to zobaczymy */
    background-color: var(--background-site);
}

nav .nav-container {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

nav .nav-container .icon-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* tutaj jak będą ikonki to dać space-around */
}

nav .nav-container .logo {
    height: 5rem;
    width: 5rem;
}
nav .nav-container .logo img {
    width: 100%;
}

nav .nav-list {
    display: flex;
    justify-content: space-between;
    /* gap: SUPER, bo daje nam odległości dla felxa */
    /* gap: 4rem; */
    list-style: none;
}

nav .nav-list li a {
    list-style: none;
    text-decoration: none;
    color: var(--text);
    font-size: 0.7em;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 480px) {
  
    nav .nav-container {
        justify-content: space-between;
    }
    nav .nav-list {
        padding: 0 0.8rem 0 0.8rem;
    }
}

.welcome {
    color: var(--text-secondary);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;

    padding: 5rem 25rem 5rem 9rem;
    background-image: url('../img/background_1.jpg');
    background-color: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
}

.lighter_letter {
    line-height: 300%;
    font-weight: 300;
    font-size: 1rem;
}

.button {
    font-size: 1.2rem;
    font-weight: 300;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    background-color: var(--text-secondary);
    /* border: var(--clr-neon) 0.125em solid; */

    /* margin-left: 1em; */
    padding: 1em 2em;
    border-radius: 1.1em;
}

.neon {
    padding-top: 3rem;

    color: var(--clr-neon);
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

    /* do dopracowania w wolnym czasie */
    text-shadow: 0 0 2em var(--text-shadow),
        0 0 0.1em currentColor;
}

.cakes {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 3rem 0 6rem;

    /* background-color: var(--background-cakes); */

    line-height: 1rem;
    font-family: inherit;
    font-weight: inherit;
}

.cake {
    flex: 1;
    max-height: 20rem;
    max-width: 20rem;
    border-radius: 2rem;
}

.quotes {
    padding: 7rem 5rem 7rem 5rem;

    background-image: url('../img/background_2.jpg');
    background-size: cover;
    border-radius: 2rem;

    color: var(--text-secondary);
}

.signature {
    position: relative;
    top: -2rem;
    font-size: 1.5rem;
    font-family: 'Libre Bodoni', serif;
    letter-spacing: 0.3rem;
}

#birthday {
    display: flex;
    /* height: auto; */
    padding: 5rem 2rem 5rem 2rem;
    margin: 2rem 0 2rem;
    background-color: var(--background-image);
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 2rem;
}

#birthday>* {
    flex: 1;
}

.birthday_text {
    padding: 6rem 6rem 6rem 10rem;
    text-align: left;
}

.birthday_foto {

    background-image: url('../img/birthday_2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.ending {
    display: flex;
    padding: var(--padding-div);
    margin: 2rem;

    background-color: var(--background-catering);
    border-radius: 2rem;
    
    font-size: 0.8rem;
    text-align: left;

}

.end
{
    flex: 1; 
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-right: 3rem;
}
.icon{
    font-size: 2rem;
    color: var(--text-secondary);
    background-color: var(--clr-neon);
    border-radius: 50%;
    padding: 0.5rem;
}